h3 {
    text-align: left;
    margin-top: 54px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
  iframe {
    width: 100%;
    height: 100%;
  }
  
  .map{
    width: 100%;
    height: 400px;
  }


  .fadein-animation {
    animation: fadeInCustom 2s ease-in-out;
  }

  .slideindown-animation{
    animation: slideInDownCustom 1s ease;
  }
  
  @keyframes fadeInCustom {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideInDownCustom {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  