.image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 2px solid white;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  
  .overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .image-container:hover .overlay {
    opacity: 1;
  }
  
  .fadein-animation {
    animation: fadeInCustom 2s ease-in-out;
  }

  .slideindown-animation{
    animation: slideInDownCustom 1s ease;
  }
  
  @keyframes fadeInCustom {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideInDownCustom {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  